@using ECommerceSiteProject.WebUI.Entity;
@model Product
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>


<div class="container pb-5">
    <div class="row">
        <div class="col-md-6">
            <img src="~/Theme/img/camera.jpg" class="img-fluid rounded w-100">
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <h1>@Model.Name</h1>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-md-12">
                    <span class="badge badge-primary">In Stock</span>
                    <span class="product-number">#123123</span>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12">
                    <div id="description">
                        @Model.Description
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-5">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star" area-hidden="true"></i>
                    <i class="fa fa-star" area-hidden="true"></i>
                    <i class="fas fa-star-half-alt" area-hidden="true"></i>
                    <span class="badge badge-success">53</span>
                </div>
                <div id="write-review" class="col-md-4">
                    <a href="#">
                        Write a review
                    </a>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12">
                    <h4 id="product-price">@Model.Price TL</h4>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12">
                    <button class="btn btn-success">
                        <i class="fas fa-cart-plus" style="font-size: 48px;"></i>
                        Add To Cart
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12">
            <div class="bd-example bd-example-tabs">
                <ul class="nav nav-tabs mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-description-tab" data-toggle="pill" href="#pills-description" role="tab" aria-controls="pills-description" aria-expanded="true">
                            Description
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-payment-tab" data-toggle="pill" href="#pills-payment" role="tab" aria-controls="pills-payment" aria-expanded="true">Payment Method</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-comment-tab" data-toggle="pill" href="#pills-comment" role="tab" aria-controls="pills-comment" aria-expanded="true">Comments</a>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-description" role="tabpanel" aria-labelledby="pills-description-tab">
                        <p>
                            This is some placeholder content the Home tab's associated content. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling. You can use it with tabs, pills, and any other .nav-powered navigation.
                        </p>
                    </div>
                    <div class="tab-pane fade show active" id="pills-payment" role="tabpanel" aria-labelledby="pills-payment-tab">
                        <p>
                            This is some placeholder content the Home tab's associated content. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling. You can use it with tabs, pills, and any other .nav-powered navigation.
                        </p>
                    </div>
                    <div class="tab-pane fade show active" id="pills-comment" role="tabpanel" aria-labelledby="pills-comment-tab">
                        <p>
                            This is some placeholder content the Home tab's associated content. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling. You can use it with tabs, pills, and any other .nav-powered navigation.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
