@using ECommerceSiteProject.WebUI.Models;
@model IEnumerable<ProductModel>
@{
    ViewBag.Title = "List";
}

<div class="container pb-5">
    <div class="row">
        <div class="col-md-3">
            <ul class="list-group">
                <li class="list-group-item active" aria-current="true">Kategoriler</li>
                <li class="list-group-item">Kamera</li>
                <li class="list-group-item">Bilgisayar</li>
                <li class="list-group-item">Televizyon</li>
                <li class="list-group-item">Telefon</li>
                <li class="list-group-item">Beyaz Eşya</li>
            </ul>
        </div>

        <div class="col-md 9">
            @Html.Partial("_ProductList", Model)
        </div>
    </div>
</div>