
@{
    ViewBag.Title = "Completed";
}
<div class="container">
    <div class="row">
        <div class="row-md-12">
            <h2>Siparişiniz Tamamlandı</h2>
            <h4>Ürünleriniz Hazırlanıyor</h4>
        </div>
    </div>
</div>

